body
{
    background-color: #D5E1EF;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whitebox
{
    height: 470px;
    width: 100%;
    max-width: 302px;
    box-shadow: -2px 1px 11px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 16px;
    /* inset: 0;
    position: absolute;
    margin: auto; */
    padding:16px ;
    padding-bottom: 3rem;
    
}
img
{
    width: 100%;
    border-radius: 10px;
      
}
h3{
 
    color:#252D47;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: hsl(220, 15%, 55%);
    text-align: center;
    line-height:1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}